body {
    margin: 0;
    padding: 0;
    background-image: url('body.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

div.cite {
    width: 900px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(240, 240, 180, 0.5);
    border: 3px solid rgb(210, 210, 150);
    border-radius: 6px;
}

div.cite h1 {
    color: rgb(0, 150, 0);
    text-align: center;
}

div.cite h3 {
    color: rgb(0, 0, 150);
    text-align: center;
}

div.price {
    margin-left: 100px;
}

.rub {
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-left: 4px;
    font-size: 0;
    vertical-align: baseline;
    background: url("rub.svg") 0 0 no-repeat;
}

.lot__cost {
    display: block;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
}